{{!-- /templates/cover-letter/edit.hbs --}}
<aside class="cover-letter-edit">
  <label>Cover Letter</label>
  {{scribe-rte value=body}}{{!-- this will be scribe-rte shortly --}}
  <button {{action "save"}}> ok </button>
</aside>