@import "nib"
@import "normalize.css"

/* Put your CSS here */
html, body {
	margin: 20px;
}

// @keyframes domChanged { from { background: yellow; } }
// @-webkit-keyframes domChanged { from { background: yellow; } }
// .ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }

@keyframes growOut {
	0% {		
		left: auto;
		padding: 2rem;
		top: auto;		
	}
	
	100% {
		left: 0;
		padding: 0;
		top: 0;
	}
}

@keyframes slideInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

// @keyframes scaleOut {
// 	0% {
// 		font-size: 1em;
// 	}
	
// 	100% {
// 		font-size: 2em;
// 	}
// }


/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
	 Base styles: opinionated defaults
	 ========================================================================== */

html,
button,
input,
select,
textarea {
	color: rgba(34,34,34,1);
}

html {
	font-size: 62.5%;
	line-height: normal;
}

body {
	font-size: 1.4rem;
	line-height: normal;
	margin: 0 5%;
}

a {color: rgba(102,102,102,1);}
a:hover, a:active {color: #000;}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	display: inline-block;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	width: auto;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
	 Chrome Frame prompt
	 ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: rgba(0,0,0,1);
	padding: 0.2em 0;
}

/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */

html {
	font-family: "superclarendon", sans-serif;
	margin: 0;
}

header, section:not(:last-of-type) {
	border-bottom: 1px solid;
}

header {
	margin: 0; 
	overflow-x: hidden; 
	padding: 1em 0; 
	position: relative;
}

header h1 {
	line-height: .75em; 
	margin: 0 0 0.5em 0;

	@media all and ( min-width: 800px ) {
		display: inline-block;
		width: 49%;
	}
}

header address {
	font-size: .75em;
	font-style: normal;

	@media all and ( min-width: 800px ) {
		display: inline-block;
		width: 50%;
	}
}

header address span {
	display: inline-block;
	width: 49%;

	&.location {
		font-size: 1.4em;
		vertical-align: baseline;
	}
}

header address a {
	display: block;
}

header button {
	background: 0;
	border: 0;
	font-size: 1em;
	height: 2em;
	outline: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: .75em;
	transition: transform .4s;
	width: 2em;
	z-index: 2;

	[data-state="is-open"] & {
		transform: rotateZ( 90deg );
	}
}

aside.sidebar {
	background: white;
	height: 100%;
	margin: 0;
	position: fixed;
	top: 0;
	transform: translateX( 100% );
	transition: right .4s, transform .4s;
	width: 100%;

	@media only screen and ( min-width: 800px ) {
		padding: 5% 2%;
		right: -40rem;
		transform: none;
		width: auto;
	}

	&[data-state="is-visible"] {
		transform: translateX( 0 );

		@media only screen and ( min-width: 800px ) {
			border-left: 1px solid;
			right: 0;
			// // transform: translateX( 100% );
			// width: 40rem;
		}
	}
}

nav ul {
	padding: 0;
}

nav li {
	list-style: none;
}

nav li a {
	display: block;
	font-size: 1.2em;
	letter-spacing: 4px;
	margin-bottom: 1em;
	text-decoration: none;
	text-transform: uppercase;

	&:not(:last-of-type) {
		margin-bottom: 0;
	}
}

article {
	padding-bottom: 2em;
}

article:not(:last-of-type) {
	border-bottom: 1px solid;
	margin-bottom: 2em;
}

article h1 {
	font-size: 1.4em;
}

article h2 {
	font-size: 1em;
	margin-top: 0;
}

article > div {
	display: inline-block;
	width: 49%;

	@media only screen and ( min-width: 800px ) {
		width: 32.5%;
	}

	&:not(.large) {
		margin: 0 0 1em 0;
	}
}

article > div.large,
article > div.position {
	width: 100%;
}

article > div.position {
	@media only screen and ( min-width: 800px ) {
		width: 32.5%;
	}
}

.main > section > h1 {
	font-size: 1em;
	margin: 2em 0;
}

.main > section > h1 small {
	font-style: italic;
}

.if-room {
	display: none;

	@media only screen and ( min-width: 960px ) {
		display: inline;
	}
}

/* Modules */

.module:not(:last-of-type) {
	border-bottom: 1px solid;
	padding-bottom: 1em;
}

.description {
	display: none;
}

.links {
	padding-bottom: 0;
}

// #contact-info-module {
// 	display: none;
// }


/* Cover Letters */
.cover-letters p {
	line-height: 1.6em;
}

/* Skills */
h2 .system {
	display: block; font-size: .6em;
}

// .skills ul .desc {
// 	display: none;
// }

.skills ul {
	height: 100%;
	min-height: 20em;
	overflow: hidden;
	position: relative;
}

.skills li {
	// overflow: hidden;  --ONCE YOU HAVE AUTO-HEIGHT DETECTION IN PLACE UNCOMMENT THIS
	// transform: translateX(100%);
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	left: auto;
	overflow: hidden;
	padding: 2rem;
	position: relative;
	top: auto;
	transition: font-size .5s, left .5s, padding .5s, position .5s 0s;
}

.skills li .desc {
	font-size: 1.4rem;
	position: absolute;
	max-height: 0;
	transform: translateX(2000px);
	transition: all .5s;
	width: 100%;
}

.skills li[data-state="is-selected"] {
	// animation: growOut .4s;
	background: rgba(white,.75);
	font-size: 2em;
	height: 100%;
	left: 0!important; // !important necessary for animation
	padding: 0;
	position: absolute;
	top: 0!important; // !important necessary for animation
	transform: translate3d(0, 0 ,0);
	transition: all .5s;
	width: 100%;
	z-index: 1;
}

.skills li > span {
	display: inline-block;
	width: 100%;
}

.skills li[data-state="is-selected"] .desc {
	animation: slideInRight .4s linear;
	background: rgba(white,.75);
	font-size: 1.4rem;
	max-height: 100rem;
	position: relative;
	transform: translateX(0);
	transition: all .5s;
	width: 100%;
}

/* Education */
.education p {
	margin-top: 0;
}

/* Work History */
.work-history p {
	margin-top: 0;
}

/* Edit Forms */
.edit-form input,
.edit-form label,
.edit-form textarea {
	display: block;
	width: 100%;
}

.edit-form textarea {
	height: 20rem;
	width: 100%;
}

/* ==========================================================================
	 Helper classes
	 ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
	 EXAMPLE Media Queries for Responsive Design.
	 Theses examples override the primary ('mobile first') styles.
	 Modify as content requires.
	 ========================================================================== */


@media only screen and (max-width: 30em) {
	// h2 .system {display: none;}
	// header {padding-right: 12%;}
	// .links.module li {float: left; list-style: none; width: 100%;}
	// .education, .skills {float: left; width: 100%;}
	// section article .large {width: 90%;}
	// .work-history {float: left;}
	// #contact-info-inline {font-size: 0.4em; right: 12%;}
	// #mobile-nav-button {display: block; position: absolute; right: 0; visibility: visible; width: 10%;}
}

@media only screen and (max-width: 69em) {
	/* Style adjustments for viewports that meet the condition */
	// header {overflow: hidden; padding-bottom: 10px; padding-right: 10%;}
	// header h1 {bottom: 10px;}

	// .links.module {border: 0px; height: 0; overflow: hidden; position: absolute; top: 0; width: 90%;}
	// .links.module nav {border-bottom: 1px solid!important; padding-bottom: 2em;}
	// .links.module li {display: inline-block; list-style: none; width: 50%;}

	// section article .large {float: none; padding-right: 5%; width: 45%;}

	// .skills .inline.description.large {float: right; width: 45%;}

	// .module.description {display: none;}

	// #contact-info-inline {font-size: 0.6em; bottom: 10px; position: absolute; right: 10%;}
	// #mobile-nav-button {background: transparent; border: 1px solid rgba(0,0,0,.5); border-radius: 20%; display: block; height: 3em; position: absolute; right: 0; bottom: 10px; visibility: visible; width: 5%;}
}

@media only screen and (min-width: 70em) {
	// section article div {display: inline-block; margin-bottom: 1em; padding-right: 2%; width: 23%;}
	// section article div.large {display: inline-block; padding-right: 5%; width: 45%;}
	// .if-room {display: inline;}
	// .main {float: left; margin-right: 5%; width: 70%;}
	// #modules {float: left; width: 25%;}
	// .module address {margin-top: 1em;}

	// .inline.description {display: none;}
	// .module.description {padding-top: 1em;}
	// #contact-info-inline {display: none;}
	// #contact-info-module {display: block;}
	// #mobile-nav-button {display: none;}

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
		 only screen and (min-resolution: 144dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
	 Print styles.
	 Inlined to avoid required HTTP connection: h5bp.com/r
	 ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: rgba(0,0,0,1)!important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	header {border-bottom: 1px solid rgba(0,0,0,0)!important; display: block; margin-bottom: 1em;}
	h1 {font-size: 2em!important;}
	.if-room {display: inline; font-weight: bold;}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")"!important;
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

/*    .ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}*/


	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 1cm 2cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

	h3 {margin-top: .5em;}
	p {margin-bottom: .5em; margin-top: 0;}

	#contact-info-module address, #modules.aside, nav, .skills .system, .skills .desc {display: none!important;}

	#links, #modules {border-bottom: 0;}
	#contact-info-inline {border-bottom: 0; display: inline; font-size: 0.6em; bottom: 10px; margin: -4.6em 0 0 80%; position: absolute; right: 10%;}
	#cover-letter, .education, .work-history {page-break-after: always;}
	#mobile-nav-button {display: none;}
	
}