{{!-- /templates/skill/edit.hbs --}}
<aside class="skill-edit">
  <label>Name</label>
  {{input value=title}}

  <label>Description</label>
  {{textarea value=description}}

  <label>Category</label>
  {{input value=category}}
  <button {{action "save"}}> ok </button>
</aside>