<div class="header">
	<h1 >Samuel <span class="if-room">deHuszar</span> Allen</h1>
	<button id="mobile-nav-button"><img src="/img/mobile-nav-button.png" alt="Mobile Navigation Button"></button>
	<div id="contact-info-inline" class="inline">
		<address>
			2956 N Washtenaw Ave #3<br>
			Chicago, IL 60618<br>
			***REMOVED***<br>
			***REMOVED***@gmail.com
		</address>
	</div>	
</div>

{{outlet}}

<div id="modules" class="modules aside sidebar">
	<div id="contact-info-module" class="module">
		<address>
			2956 N Washtenaw Ave #3<br>
			Chicago, IL 60618<br>
			***REMOVED***<br>
			***REMOVED***@gmail.com
		</address>
	</div>
	<div id="links" class="links module">
		<div class="nav">
			<ul>
				<li><a href="#cover-letter">Cover Letter</a></li>
				<li><a href="#skills">Skills</a></li>
				<li><a href="#references">References</a></li>
				<li><a href="#about">About this document</a></li>
				<li>
					<a href="#">Create PDF file of this page</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="module description">
	</div>
</div>