<header>
	<h1 >Samuel <span class="if-room">deHuszar</span> Allen</h1>
	<address>
		<span class="location">
			1246 W Hood Ave #2<br>
			Chicago, IL 60660
		</span>
		<span class="contact">
			<a href="tel:+17737930604">773.793.0604</a>
			<a href="mailto:dehuszar@gmail.com">dehuszar@gmail.com</a>
		</span>
	</address>
	<button {{action 'open'}}><img src="/images/menu.svg" alt="Menu icon" /></button>
</header>

<div class="main">

	{{outlet}}

</div>

{{!-- <aside id="modules" class="modules sidebar"> --}}
{{#view view.NavigationView}}
	{{log view.parentView.controller.isVisible}}
	<nav>
		<ul>
			<li>{{#link-to "cover-letters"}}Cover Letter{{/link-to}}</li>
			<li>{{#link-to "workhistories"}}Work History{{/link-to}}</li>
			<li>{{#link-to "skills"}}Skills{{/link-to}}</li>
{{!-- 				<li>{{!#link-to "references"}}References{{!/link-to}}</li> --}}
			<li><a href="#about">About this document</a></li>
			<li>
				<a href="#">Download PDF</a>
			</li>
		</ul>
	</nav>
{{/view}}
{{!-- </aside> --}}