{{!-- <section class="cover-letter module"> --}}
{{!-- 	<article>
		<button class="edit" {{action "edit" coverLetter}}>edit</button>
		<div class="large"> --}}
{{!-- 			{{{!body}}} --}}
{{!-- 		</div>
	</article> --}}
	{{outlet}}
{{!-- </section> --}}