<div id="cover-letter" class="cover-letter section">
	<div class="article">
		<p>This is a dynamic website.  If you used the link provided to you, you should see a cover letter specifically for your eyes.  If you are seeing this message, you should contact Samuel Allen using the info provided to get a personalized URL.</p>
	</div>
</div>