<div id="cover-letter" class="cover-letter section">
	<div class="article">
		<p>This website is a dynamic full-stack MVC application.  It is built using <a href="http://emberjs.com/" target="_blank">Ember</a>, <a href="http://sailsjs.org/" target="_blank">Sails</a> (an API generator which uses <a href="http://expressjs.com/" target="_blank">Express</a>), <a href="http://nodejs.org/" target="_blank">Node</a>, <a href="http://mongodb.org/" target="_blank">Mongo</a>, <a href="http://learnboost.github.io/stylus/" target="_blank">Stylus</a>, and <a href="https://typekit.com/" target="_blank">Typekit</a>.</p>
		<p>It is designed to implement from-scratch Mobile First responsive design, and utilize a modest mix of CSS and JS animations.</p>
		<p>This application is a work in progress.  To follow that progress visit the project page on GitHub.</p>
		<p>Presently writing back to the database is disabled, but you can see the data-binding in use across the site by clicking the edit buttons in the appropriate places and by appending '/create' to the end of each section's url.</p>
	</div>
</div>