<section id="skills" class="skills module">
	<h1>Skills</h1>
	<article>
		<div class="large inline description">
		</div>
		<div class="large">
			<h2>Development Expertise <span class="system"> (click items for more details)</span></h2>
			<ul>
				{{#each skill in controller}}
				<li>
					{{skill.title}};
					<div class="skill-contents">
						<p class="desc">{{skill.description}}</p>
						<button class="edit" {{action "edit" skill}}>edit</button>
					</div>
				</li>
				{{/each}}
				{{outlet}}
			</ul>
		</div>
	</article>
</section>