<section class="skills module">
	<h1>Skills <small>(click skills for more details)</small></h1>
	<article>
		<div class="large">
			<ul>
				{{#each skill in controller}}
					{{#view view.SkillItem}}
						<span>{{skill.title}}</span>
						{{!-- <div class="skill-contents"> --}}
							<p class="desc">{{skill.description}}</p>
							{{!-- <button class="edit" {{!action "edit" skill}}>edit</button> --}}
						{{!-- </div> --}}
					{{/view}}
				{{/each}}
			</ul>
		</div>
	</article>
	{{outlet}}
</section>